body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
   width: 100%;
   padding: 10px;
   border: 1px solid green;
   box-sizing: border-box;
   margin-bottom: 4px;
}

button
{
    background-color: green;
    padding: 10px 20px;
    color :white;
    border: 1px solid green;
    font-weight: bold;   
}

#delete-btn
{
     background-color: white;
     color: green;
}

ul
{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li{
   margin-top: 5px;
}

li a{
    color:green;
}
